/* Write your CSS here */
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80%;
}
.heading{
    font-family: 'Roboto';
    font-size: 26px;
    color:#0f172a;
    text-align: center;
    margin-top:20px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-weight: bold;
}
.icon{
    height:80px;
    width:35px;
    margin-right: 15px;
}
.message-container{
    margin-top: 5px;
    margin-left:10px;
}
.message-heading{
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
}
.message-desc{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: #64748b;
}
.success{
    color: #2dca73;
}
.error{
    color: #ff0b37;
}
.warning{
    color:#ffb800;
}
.info{
    color: #0f81e0;
}
@media screen and (min-width:768px){
    .sub-container{
        width:85%;
        max-width: 1110px;
    }
    .message-container{
        margin-top: 0px;
    }
    .message-desc{
        font-size: 20px;
    }
    .message-heading{
        font-size: 24px;
    }
}
